
<form [formGroup]="profileForm" (submit)="validate()" class="contact-form">
  <h2>Reach Us</h2>
  <p>
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Name</mat-label>
      <input matInput placeholder="Name" formControlName="fullName">
      <mat-hint>Hint</mat-hint>
    </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Email</mat-label>
      <input matInput placeholder="Email" formControlName="email">
      <mat-hint>Hint</mat-hint>
    </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Phone</mat-label>
      <input matInput placeholder="Phone" formControlName="phone">
      <mat-hint>Hint</mat-hint>
    </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Message</mat-label>
      <input matInput placeholder="Message" formControlName="message">
      <mat-hint>Hint</mat-hint>
    </mat-form-field>
  </p>
    
  <button mat-raised-button color="primary" type="submit">Send</button>
</form>