<mat-toolbar class="sf-toolbar">
  <mat-toolbar-row>
    <a routerLink="/" class="brand"><span class="sr-only">Edge Design</span></a>
    <span class="middle-spacer"></span>
    <button routerLink="/" mat-button>
      <mat-icon aria-hidden="false" aria-label="Home">home</mat-icon>
    </button>
    <button routerLink="/gallery" mat-button>Our Works</button>
    <button routerLink="/architecture" mat-button>Architectural</button>
    <button routerLink="/interior" mat-button>Interior</button>
    <button routerLink="/design" mat-button>Design</button>
    <button routerLink="/contact" mat-button>Reach Us</button>
  </mat-toolbar-row>
</mat-toolbar>
<router-outlet></router-outlet>
