/* You can add global styles to this file, and also import other style files */
@import './assets/styles/helper.less';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.brand {
  background-image: url('./assets/images/edge-design-logo.png');
  background-position: -8px -4px;
  display: inline-block;
  height: 52px;
  width: 105px;
}
